<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:fragment="dynamic(main)">

<head>
    <meta charset="utf-8">
    <title>Mnis-Shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <div th:replace="~{lib/libraries :: libraries}"></div>
    <div th:replace="~{lib/libraries :: headerLink}"></div>


</head>

<body>

<!-- Topbar Start -->
<div th:replace="~{home/layout/header :: header}"></div>
<!-- Topbar End -->


<div>
    <main th:insert="${main}"></main>
</div>





<!-- Footer Start -->
<div th:replace="~{home/layout/footer :: footer}"></div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

<div th:replace="~{lib/libraries :: footerLink}"></div>



</body>

</html>